@import '@/styles/variabels.scss';

.header_menu {
  padding: 0.8rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header_menu_items {
    display: flex;
    align-items: center;

    a {
      color: white;
    }

  }

  .header_menu_item {
    color: white;
    padding: 0.7rem 0.9rem;
    border-radius: $def-item-border;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 0.9rem;
    position: relative;

    p {
      pointer-events: none;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
      transition: all 0.2s ease;
    }
  }
}