@import '@/styles/variabels.scss';

.create_container {
  margin: 1rem 0rem;

  .create_title {
    width: fit-content;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: rgba(#000000, 0.6);
    padding: 0.7rem 0.8rem;
    border-radius: $def-container-border-radius;
    color: white;
    margin-bottom: 0.7rem;
  }
}