@import '@/styles/variabels.scss';

.visitors_container {
  border: $def-container-border;
  border-radius: $def-container-border-radius;
  box-shadow: $def-container-shadow;
  padding: 1.2rem;
  margin-right: 1rem;
  width: 25rem;

  .visitors_follower_warn {
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: $def-font-color;
  }

  .visitors_gold_container {
    border-radius: $def-container-border-radius;
    background-color: #fac746;
    padding: 0.8rem;

    h5 {
      font-weight: bolder;
      font-size: 0.9rem;
      color: rgb(81, 61, 10);
      margin-bottom: 0.25rem;
    }

    h6 {
      font-size: 0.7rem;
      color: rgb(81, 61, 10);
    }
  }

  .visitors_body {
    margin: 0.7rem 0rem;
  }

  .visitors_header {
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 0.7rem;
    border-bottom: $def-container-border;
  }

  .visitors_followers_container {
    display: grid;
    grid-template-columns: 3.25rem 3.25rem 3.25rem 3.25rem 3.25rem;
    gap: 0.35rem;
    padding: 0.35rem;
  }

  .visitors_followers_icon {
    border-radius: 10px;
    width: 3.25rem;
    cursor: pointer;
  }

  .visitors_information {
    display: flex;
    padding: 1rem;
    font-size: 0.8rem;
    color: $def-font-color;

    h5 {
      font-weight: bolder;
      margin-right: 2rem;
    }
  }

  .visitors_visitor_count {
    padding: 1.2rem;
    font-size: 0.8rem;
    color: grey;
  }

  .visitors_visitor_info_container {
    display: flex;
    align-items: center;
    padding: 0rem 1rem 1rem 1rem;

    div {
      font-size: 0.8rem;
    }

    img {
      margin-right: 1rem;
      width: 2.5rem;
      border-radius: $smal-user-icon-border;
    }
  }

  .visitors_visit_date {
    margin-top: 0.25rem;
    color: grey;
  }
}

.border {
  border: $def-container-border;
  border-radius: $def-container-border-radius;
  box-shadow: $def-container-shadow;
}