@import '@/styles/variabels.scss';

.user_achive_container {
  border: $def-container-border;
  border-radius: $def-container-border-radius;
  box-shadow: $def-container-shadow;
  flex-grow: 1;

  .user_achive_header {
    border-bottom: $def-container-border;
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 0.8rem;
  }

  .user_achive_body {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }

  .user_achive_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h5 {
      margin-bottom: 0.25rem;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      color: white;
      width: fit-content;
      background-color: green;
    }
    h6 {
      color: grey;
      font-size: 0.8rem;
    }
  }
}

.blue {
  background-color: rgb(5, 5, 105) !important;
}