//Default style properties
$def-container-border-radius: 5px;
$def-container-border: 1px solid rgba(black, 0.1);
$def-container-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
$def-container-shadow-extra: rgba(0, 0, 0, 0.8) 0px 4px 6px -2px;
$def-container-margin: 0.5rem;

$def-item-border: 5px;
$def-circle-border-radius: 50px;

$def-font-color: rgb(77, 89, 111);
$def-font-color-grey: rgb(135, 135, 135);
$def-error-color: #500;

//Small size style properties
$small-user-icon: 3rem;

$smal-user-icon-border: 25%;

//Button color properties
$submit-button-color: rgb(45, 105, 40);

$submit-button-color-hover: rgb(35, 90, 30);