@import './styles/variabels.scss';

.index_content_container {
  display: flex;
  justify-content: space-between;
}

.index_main_container {
  display: flex;
  margin-top: 0.5rem;
}

.index_topic_container {
  flex-grow: 1;
}

.index_title {
  border-radius: $def-container-border-radius;
  border: $def-container-border;
  box-shadow: $def-container-shadow;
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bolder;
  flex-grow: 1;
}