@import '../../../styles/variabels.scss';

.reg_form_container {
  border-radius: $def-container-border-radius;
  border: $def-container-border;
  box-shadow: $def-container-shadow;
  padding: 0.5rem;
  margin-right: 1rem;
  flex-grow: 1;

  .reg_form_header {
    border-bottom: $def-container-border;
    padding: 0.5rem;

    h2 {
      font-weight: bolder;
      font-size: 1.4rem;
    }
  }

  .reg_sign_link {
    display: flex;
    transition: all 0.1s ease;
    margin-top: 0.25rem;
    width: fit-content;

    &:hover {
      transition: all 0.1s ease;
      font-weight: bolder;
    }

    p {
      margin-right: 0.5rem;
      color: $def-font-color-grey;
      font-weight: normal !important;
    }
  }

  .reg_form_section {
    padding: 1rem 0rem 1rem 0.5rem;

    &:last-child {
      margin-left: 10rem;
    }
  }

  .reg_form_input_container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &:last-child {
      margin: 0;
    }
  }

  .reg_form_label {
    font-size: 0.9rem;
    font-weight: 500;
    color: $def-font-color;
    width: 9rem;
    span {
      color: rgb(85, 0, 0);
      font-weight: bolder;
      margin-left: 0.5rem;
    }
  }

  .reg_form_section_checkbox {
    padding: 1rem 0rem;
    margin-left: 10.5rem;
    
    > div:last-child > label {
      font-weight: bolder;
    }
  }

  .reg_form_input {
    margin-left: 1rem;
    border: $def-container-border;
    border-radius: $def-container-border-radius;
    padding: 0.5rem 0.25rem;
    width: 20rem;
  }

  .reg_checkbox_label {
    margin-left: 1rem;
    font-size: 0.75rem;
    cursor: pointer;

    span {
      margin-left: 0.5rem;
      color: rgb(85, 0, 0);
    }
  }
  .reg_submit_container {
    width: 100%;

    > button {
      font-weight: bolder;
      width: 100%;
      padding: 0.9rem;
      color: white;
      background-color: $submit-button-color;
      border-radius: $def-container-border-radius;
    
      &:hover {
        background-color: $submit-button-color-hover;
      }
    }
  }
  .reg_form_error_message {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    color: rgb(85, 0, 0);
   }
}